:root {
    --mainItemColor: #ffa0a0;
    --secondItemColor: rgb(255, 255, 255);

    --roseRed: #800000;

    --tagColor: #ffff52;
    --tagHover:#d8d841;
}

body {
    background-color: white;
}

#mainBanner {
    background-color: var(--roseRed);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mainBanner a {
    color: white;
    text-decoration: none;
    padding: 20px
}

#mainBanner a:hover {
    background-color: #600000;
}

#main {
    padding-top: 50px;
}

#itemBox {
    background-color: grey;
    margin-left: 0%;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    padding: 10px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 5vh;
}

li:hover {
    background-color: darkgrey;
    color: white;
}
 
#list2 li {
    text-decoration: line-through;
}

.list-container {
    display: flex;
    flex-direction: row;
}

.list {
    width: 25vw;
}

.chart {
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.barGraphContainer {
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 15px;
    margin: 20px;

}

.barGraph {
    width: 20px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    padding: 15px;
    margin: 20px;
}

.profileBox {
    border: 2px solid black;
    width: 80%;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.profileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes image circular */
    object-fit: cover; /* Fills in the circle completely with the image */
    border: 1px solid black;
}

.displayTag {
    border: 2px solid black;
    background-color: var(--tagColor);
    width: 3px;
    height: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;
    justify-content: center;
}

.centerOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.choiceWide {
    width: 500px;
    padding: 10px;
    font-size: 22px;
    margin: 10px;
}

.choice {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}

.choiceSmall {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}


@media (max-width: 767px) {
    .centerOptions {
        font-size: 18px;
        padding-bottom: 20px;
    }
    .choiceWide {
        width: 60%;
        font-size: 14px;
    }
    .choice {
        width: 60%;
        font-size: 12px;
    }
    .choiceSmall {
        width: 40%;
        font-size: 12px;
    }

}



.buttonTag {
    border: 2px solid black;
    background-color: var(--tagColor);
    padding: 10px;
    margin: 3px;
    justify-content: center;
    font-size: 16px;
}

.buttonTag:hover {
    background-color: var(--tagHover);
    padding: 10px;
    text-decoration: underline;

}

.itemBox {
    border: 2px solid black;
    width: 90%;
    padding: 10px;
    margin: auto;
    justify-content: center;
    background-color: var(--mainItemColor);
}

.itemBox:nth-child(2n) {
    background-color: var(--secondItemColor);
}

.itemImage {
    margin-left: auto; 
    max-width: 150px; 
    float: "right";
}

