body {
    background-color: white;
}

#mainBanner {
    background-color: #800000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mainBanner a {
    color: white;
    text-decoration: none;
    padding: 20px
}

#mainBanner a:hover {
    background-color: #600000;
}

#main {
    padding-top: 50px;
}

#itemBox {
    background-color: grey;
    margin-left: 0%;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    padding: 10px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 5vh;
}

li:hover {
    background-color: darkgrey;
    color: white;
}
 
#list2 li {
    text-decoration: line-through;
}

.list-container {
    display: flex;
    flex-direction: row;
}

.list {
    width: 25vw;
}

.chart {
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.barGraphContainer {
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 15px;
    margin: 20px;

}

.barGraph {
    width: 20px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    padding: 15px;
    margin: 20px;
}

.profileBox {
    border: 2px solid black;
    width: 80%;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.profileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes image circular */
    object-fit: cover; /* Fills in the circle completely with the image */
    border: 1px solid black;
}