body {
    background-color: white;
}

#mainBanner {
    background-color: #800000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mainBanner a {
    color: white;
    text-decoration: none;
    padding: 20px
}

#mainBanner a:hover {
    background-color: #600000;
}

h1 {
    font-size: 5vh;
}

li:hover {
    background-color: darkgrey;
    color: white;
}
 
#list2 li {
    text-decoration: line-through;
}

.list-container {
    display: flex;
    flex-direction: row;
}

.list {
    width: 25vw;
}

.chart {
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.barGraphContainer {
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
  }